torch>=2.2
torchvision>=0.17
datasets>=2.19
Pillow
minio
boto3
python-dotenv
psycopg2-binary
mlflow>=2.12
nltk
evidently>=0.4
statsmodels==0.14.6
fastapi
uvicorn[standard]
prometheus-client
python-multipart
requests
apache-airflow>=2.8
dvc[s3]
