--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
datasets>=2.19
Pillow
minio
boto3
python-dotenv
psycopg2-binary
mlflow>=2.12
nltk
evidently>=0.4
statsmodels==0.14.6
fastapi
uvicorn[standard]
prometheus-client
python-multipart
requests
dvc[s3]==3.67.1
